@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    background-color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

header{
    font-size: 2rem;
    background-color: lightgrey;
    width: 100%;
    padding: 0.5em;
}

div.header-container{
    display: flex;
    justify-content: space-between;
}


div.header-container > .left{
    display: flex;
    align-items: center;
}

div.left > img{
    position: relative;
    bottom: 0.1em;
    height: 1.2em;
}

div.left > h1{
    font-size: inherit;
    margin: 0px;
    margin-left: 0.5ch;
}

section#cardsContainer{
    margin: 1em 0.5em;
}

.card{
    display: inline-block;
    margin: 1em 1em;
    border: grey solid 1px;
    border-radius: 1.3em;
    width: 20em;
    text-align: center;
    padding: 2em 0.5em 1.5em;
}

.card > h3{
    font-size: 1.6rem;
    margin: 0 0 0.5em;
}

.card > h4{
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.5em 0;
}

.card > div.controls{
    margin-top: 2em;
}

div.controls > button{
    font-size: 1rem;
    display: block;
    margin: 0.5em auto;
    padding: 0.5em;
    width: 90%;
}

button#buttonAdd{
    position: fixed;
    bottom: 5%;
    left: calc(50% - 4.5ch - 0.25em);
    font-size: 1.5rem;
    border: none;
    border-radius: 0.4em;
    padding: 0.5em;
    margin: 0 auto;
}

div#overlayDark.active{
    display: block;
}

div#overlayDark{
    display: none;
    position: fixed;
    z-index: 50;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 50%;
}


div#formContainer.active{
    transform: translate(-50%, -50%) scale(1);
}

div#formContainer{
    font-size: 1.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    width: min(18em);
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
    z-index: 100;
    background-color: beige;
    padding: 2em;
    text-align: center;
    border-radius: 1em;
}

label, input{
    display: block;
}

form > h2{
    margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

form > input{
    width: 100%;
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0.7em;
    border-radius: 0.5em;
    border: none;
    box-shadow: none;
}


form input[type=checkbox]{
    display: inline;
    width: 1em;
    height: 1em;
}

form > div.button-container{
    display: flex;
    justify-content: space-between;
    gap: 0.5em 10%;
}

div.button-container > button{
    flex: 1;
    display: block;
    padding: 0.4em;
}